.header {
    background-color: #ffffff;  
      
}
.header.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: center;
    gap: 76px;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.contact-list {
    display: flex;
    gap: 40px;
}
.logo span {
    text-transform: uppercase;    
    color: #2e2f42;
    font-size: 18px;
}
.logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        color: #4d5ae5;
        background-color: #fff;
    text-transform: uppercase;     
}
    /*letter-spacing was 1.17*/
.features {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio { 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;  
     color: #2e2f42;
}
.address {
    margin-left: auto;
}
.email {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;
font-style: normal;
color: #434455;
}
.phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    color: #434455;
}
.features:hover,
.features:focus,
.team:hover,
.team:focus,
.portfolio:hover,
.portfolio:focus,
.email:hover,
.email:focus,
.phone:hover,
.phone:focus {
    color: #404BBF;
}

