/*Family: Roboto Weight: Bold | 700 Size: 36px Line Height: 40px | 1.11 Letter Spacing: 2% | 0.02em*/
.team {
    background-color: #F4F4FD;
}
.team-item {
    background-color: #ffffff;
}
.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2E2F42;
text-align: center;
}
/*Family: Roboto Weight: Medium | 500 Size: 20px Line Height: 24px | 1.20 Letter Spacing: 2% | 0.02em*/
.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
}
/*Family: Roboto Weight: Regular | 400 Size: 12px Line Height: 14px | 1.17 Letter Spacing: 4% | 0.04em*/
.team-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: center;
}